.Hotel {
  height: 100vh;
}

.contentWrapper {
  height: 84vh;
  position: relative;
}

.imgWrapper {
  height: 70%;
  position: relative;
}

.img {
  height: 40vh;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #616161;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}