.WeddingParty {
  height: 90vh;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  color: white;
}

.video {
  position: absolute;
  top: -30%;
  left: -15%;
  width: 140%;
  height: 160%;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .video {
    top: -60%;
    left: -30%;
    width: 200%;
    height: 220%;
  }
}