.WhiteWedding {
  height: 100vh;
}

.imgWrapper {
  background: radial-gradient(white 20%, red 80%);
  height: 400px;
  width: 442px;
  margin: 0 auto;
}

.img {
  height: 400px;
  width: 442px;
  margin: 0 auto;
}