.WhiteWedding {
  height: 110vh;
  overflow: hidden;
  padding-top: 10vh;
}

.contentWrapper {
  height: 68vh;
  position: relative;
}

.imgWrapper {
  height: 70%;
  position: relative;
}

.img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #616161;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 500px) {
  .img {
    width: 80%;
  }
}
