.Home {
  height: 100vh;
  margin-bottom: 60px;
}

.backgroundWrapper {
  height: 100vh;
  position: relative;
  z-index: 3;
  background: radial-gradient(rgba(53, 33, 22, 0.92) 20%, rgba(72, 32, 0, 0.3) 80%);
}

.textWrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: #d6d6d6;
  text-shadow: 1px 1px 3px #101010, 0 0 5px white;
  font-size: 59px;
  font-style: italic;
}