.Home {
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30vh;
}

.backgroundWrapper {
  height: 105vh;
  position: relative;
  z-index: 3;

}

.textWrapper {
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
  //left: 0;
  //right: 0;
  text-align: center;
  z-index: 1;
  color: white;
  text-shadow: -1px -1px 3px black;
}

.countdownWrapper {
  margin-top: 10vh;
}

.countdownHeading {
  margin-bottom: 30px;
}

.smallText {
  font-size: 3.7rem;
  font-weight: 100;
}

.largeText {
  font-size: 7rem;
}

.date {
  font-size: 3.7rem;
  font-weight: 100;
  font-style: italic;
}

@media only screen and (max-width: 750px) {
  .smallText {
    font-size: 3rem;
  }

  .largeText {
    font-size: 6rem;
  }

  .date {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .smallText {
    font-size: 2rem;
    font-weight: 100;
  }

  .largeText {
    font-size: 4.5rem;
  }

  .date {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
  }
}
