.Home {
  height: 100vh;
  margin-bottom: 30px;
}

.backgroundWrapper {
  height: 100vh;
  position: relative;
  z-index: 3;

}

.textWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  color: white;
  text-shadow: -1px -1px 3px black;
}

.smallText {
  font-size: 3.7rem;
  font-weight: 100;
}

.largeText {
  font-size: 7rem;
}