.Header {
  background: rgba(241, 241, 241, 0.98);
  z-index: 5;
  width: 100%;
  position: fixed;
  height: 90px;
  letter-spacing: 2px;
  padding: 0 20px;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 90px;
  box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.27);
}

.names {
  font-size: 1.7rem;
  font-weight: 600;
  vertical-align: middle;
}

.weddingDate {
  color: #a8a8a7;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 500;
  margin-left: 30px;
}