.Map {
  min-height: 110vh;
  padding-top: 10vh;
  overflow: hidden;
  color: white;
  background: linear-gradient(to bottom, #634730, #0e0a06);
}

.contentWrapper {
  height: 68vh;
  position: relative;
}

.mapWrapper {
  height: 100%;
  margin-top: 30px;
  position: relative;
}

.imgSign {
  margin: 0 auto 20px auto;
  border-radius: 5px;
  display: block;
}

@media only screen and (max-width: 680px) {
  .imgSign {
    width: 100%;
    height: auto;
  }
}

